streamlit
opencv-python-headless
numpy
git+https://github.com/Breakthrough/PySceneDetect.git
librosa
soundfile
ffmpeg-python
python-dotenv
gtts
openai
deepface
torch   # deepface may need this; only if not installed by deepface wheel

streamlit
opencv-python-headless
numpy
git+https://github.com/Breakthrough/PySceneDetect.git
librosa
soundfile
ffmpeg-python
python-dotenv
gtts
openai
deepface
torch   # deepface may need this; only if not installed by deepface wheel
